/* 针对整个网页基础的设置 */
html, body {
  margin: 0;         /* 消除所有的外边距（干掉白边） */
  padding: 0;        /* 消除所有的内边距 */
  overflow: hidden;  /* 隐藏多余的滚动条，让画面彻底锁定 */
  background-color: #141414; /* 垫底的深色背景，和 p5.js 画布融为一体 */
}

/* 针对 p5.js 生成的画布的设置 */
canvas {
  display: block;    /* 移除画布底部可能会出现的几个像素的神秘空隙 */
}